@page
@model ElderlyCareRazor.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Hobby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].AccountStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hobby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
